version: 2
updates:
  - package-ecosystem: mix
    directory: /
    schedule:
      interval: daily
    groups:
      elixir-deps:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    groups:
      actions:
        patterns:
          - "*"
