name: Run Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        elixir: ["1.18", "1.19"]
        otp: ["27", "28"]
        exclude:
          - elixir: "1.18"
            otp: "28"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Restore dependencies cache
        uses: actions/cache@v5
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Restore build cache
        uses: actions/cache@v5
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ matrix.otp }}-${{ matrix.elixir }}-
            ${{ runner.os }}-build-
      - name: Restore EXLA cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/xla
          key: ${{ runner.os }}-exla-${{ matrix.otp }}-${{ matrix.elixir }}
      - name: Install dependencies
        run: mix deps.get
      - name: Check formatting
        run: mix format --check-formatted
      - name: Run Credo
        run: mix credo --strict
      - name: Run tests
        env:
          MIX_ENV: test
        run: mix test
